<div class="container">
  <h1>All lists</h1>
  <%= link_to "Create new list", new_list_path%>
  <hr>
  <h2>See all <%=@lists.count%> lists below:</h2>
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)" >
    <%= link_to list.name, list_path(list)%>
    </div>
  <% end %>
</div>
